<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card color="graymain">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nCbkOyOMTEwlEV0LtCOvCnwEONA.jpg">
        </ion-card-header>

        <ion-item color="graymain" lines="full">
            <ion-label>
                <h1> Interestelar (2014) </h1>
            </ion-label>

            <div slot="end" class="c100 p83 small green">
                <span>83%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </ion-item>

        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>

        <ion-item color="graymain">
            <div class="info ion-text-center">
                <span class="tipo">PG-13</span> <span class="duracao">2h 49m</span>
                <p> Aventura, Drama, Ficção Científica</p>
            </div>
        </ion-item>

        <ion-item color="graymain">
            <div>
                <h2>Sinopse</h2>
                <p>As reservas naturais da Terra estão chegando ao fim e um grupo de astronautas recebe a missão de verificar possíveis planetas para receberem a população mundial, possibilitando a continuação da espécie. Cooper é chamado para liderar o
                    grupo e aceita a missão sabendo que pode nunca mais ver os filhos. Ao lado de Brand, Jenkins e Doyle, ele seguirá em busca de um novo lar.</p>
            </div>
        </ion-item>

    </ion-card>
</ion-content>