<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card color="graymain">
        <ion-card-header>
            <img src="assets/ns.jpg">
        </ion-card-header>

        <ion-item color="graymain" lines="full">
            <ion-label>
                <h1> Naruto Shippuden (2007) </h1>
            </ion-label>

            <div slot="end" class="c100 p85 small green">
                <span>85%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>

        </ion-item>


        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>


        <ion-item color="graymain">
            <div class="info ion-text-center">
                <span class="tipo">TV-14</span> <span class="duracao">25m</span>
                <p> Animação, Comédia, Drama </p>
            </div>
        </ion-item>

        <ion-item color="graymain">
            <div>
                <h2>Sinopse</h2>
                <p>Naruto Shippuden ocorre 2 anos e meio após Naruto ter ficado para treinar com Jiraiya. Após seu retorno, Naruto descobre que seus amigos shinobi's o superaram na classificação, e ele caiu para trás. No entanto, com apenas 6 meses para
                    resgatar Sasuke, Naruto tem de enfrentar inimigos ainda mais perigosos. O plano da Akatsuki se revela lentamente e os perigos surgem mais do que nunca!</p>
            </div>
        </ion-item>

    </ion-card>