<ion-header>
    <ion-toolbar color="primary">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-card color="dark">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8KkyXE7Hd9MPOOkORxkMM6SUXAB.jpg">
        </ion-card-header>

        <ion-item color="dark" lines="full">
            <ion-label>
                <h1> 1917 (2019) </h1>
            </ion-label>

            <div slot="end" class="c100 p79 small green">
                <span>79%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </ion-item>

        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>

        <ion-item color="medium">
            <div class="info ion-text-center">
                <span class="tipo">R</span> <span class="duracao">1h 59m</span>
                <p> Guerra, Drama, Ação, Thriller, História </p>
            </div>
        </ion-item>

        <ion-item color="dark">
            <div>
                <h2>Sinopse</h2>
                <p>Os cabos Schofield (George MacKay) e Blake (Dean-Charles Chapman) são jovens soldados britânicos durante a Primeira Guerra Mundial. Quando eles são encarregados de uma missão aparentemente impossível, os dois precisam atravessar território
                    inimigo, lutando contra o tempo, para entregar uma mensagem que pode salvar cerca de 1600 colegas de batalhão.</p>
            </div>
        </ion-item>

    </ion-card>