<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>
            Séries
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card routerLink="/flash" color="graymain">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/original/4lFnO2gAuypakvm82WKzqCqwl1D.jpg">
        </ion-card-header>

        <ion-item color="bluemain">
            <h1> The Flash <span>(2014)</span></h1>
        </ion-item>

        <ion-item color="graymain">
            <div class="info ion-text-center">
                <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
                <p> Drama, Sci-fi & Fantasy</p>
            </div>
        </ion-item>

        <ion-item color="bluemain">
            <div>
                <h2>Sinopse</h2>
                <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
            </div>
        </ion-item>

    </ion-card>

    <ion-card routerLink="/lacasadepapel" color="graymain">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/original/xGexTKCJDkl12dTW4YCBDXWb1AD.jpg">
        </ion-card-header>

        <ion-item color="bluemain">
            <h1>La Casa De Papel <span>(2017)</span></h1>
        </ion-item>

        <ion-item color="graymain">
            <div class="info ion-text-center">
                <span class="tipo">TV-MA</span> <span class="duracao">1h10m</span>
                <p> Crime, Drama</p>
            </div>
        </ion-item>

        <ion-item color="bluemain">
            <div>
                <h2>Sinopse</h2>
                <p>Um homem misterioso que atende pelo nome de El Profesor, está planejando o maior assalto do século. A fim de realizar o ambicioso plano ele recruta uma gangue de oito pessoas com certas habilidades que não tem nada a perder. O objetivo
                    é infiltrar na Casa da Moeda, de modo que eles possam imprimir 2,4 bilhões de euros. Para fazer isso eles precisam de onze dias de reclusão, durante o qual eles vão ter que lidar com sessenta e sete reféns e as forças da Polícia de
                    Elite, com cenas de muita ação e planos brilhantes de El Profesor.</p>
            </div>
        </ion-item>

    </ion-card>

</ion-content>