<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Interestelar</h2>
      <p>2014 &nbsp;&nbsp; 12 &nbsp;&nbsp; 2h49m </p>
      <ion-button color="danger" size="small">Assistir</ion-button>
      <ion-button fill="outline" color="light" size="small"> Sinopse</ion-button>
    </div>
  </div>

  <ion-grid>
    <h1> Populares </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sJRcxUYDZb7LtV8AID19hxcqvaq.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8KkyXE7Hd9MPOOkORxkMM6SUXAB.jpg">
      </ion-col>
    </ion-row>

  <h1> Em Cartaz </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zEae3Y5gB7e8Z3LZWsMWZcrsf92.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mIH20h18hrLXRuIoVu3f2vEKsmm.jpg">
      </ion-col>
    </ion-row>

    <h1> Próximas Estréias</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mMV1s4zuJSHCrkuhZQJLaHbOwEy.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nPx3juctkdZvgrJ4DO35dUnVsyF.jpg">
      </ion-col>
    </ion-row>

    <h1> Mais Bem Avaliados </h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4BSuFpQ2gd2WtO5ZK1fMjaMPMRc.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/oS3mn55v5jEBduZQp2ttzqxxbLQ.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>