<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item routerLink="/dbz" lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/dbz.jpg">
      </ion-thumbnail>
      <ion-label>
        Dragon Ball Z
      </ion-label>

      <div slot="end" class="c100 p81 small green">
        <span>81%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item routerLink="/nshi" lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/ns.jpg">
      </ion-thumbnail>
      <ion-label>
        Naruto Shippuden
      </ion-label>

      <div slot="end" class="c100 p86 small green">
        <span>86%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/b10.jpg">
      </ion-thumbnail>
      <ion-label>
        Ben 10
      </ion-label>

      <div slot="end" class="c100 p73 small green">
        <span>73%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/pp.jpg">
      </ion-thumbnail>
      <ion-label>
        Pica Pau
      </ion-label>

      <div slot="end" class="c100 p74 small green">
        <span>74%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/jet.jpg">
      </ion-thumbnail>
      <ion-label>
        Os Jetsons
      </ion-label>

      <div slot="end" class="c100 p68 small orange">
        <span>68%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

  </ion-list>

</ion-content>