<ion-header>
    <ion-toolbar color="primary">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-card color="dark">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
        </ion-card-header>

        <ion-item color="dark" lines="full">
            <ion-label>
                <h1> The Flash (2014) </h1>
            </ion-label>


            <div slot="end" class="c100 p73 small green">
                <span>73%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </ion-item>


        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>

        <ion-item color="medium">
            <div>
                <h2> The Fastest Man Alive </h2>
                <br>
                <p> Criação </p>
                <h5> Greg Berlanti & Geoff Johns & Andrew Kreisberg </h5>


            </div>
        </ion-item>
    </ion-card>


    <ion-content color="dark">
        <ion-card color="dark">
            <ion-item color="danger">
                <h2> Imagens da Série: </h2>
            </ion-item>
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/uE2Rj4XlXZ80v01vUJdMk49yxXa.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/At40DjZ8UXiJ8i7NRI8TShA7k4P.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/220RXc3kZtaGyZWwnQ2WM9qLsUk.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/xwzqVmnMAFlcxwZdQzflewy3kb1.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/jeruqNWhqRqOR1QyqdQdHunrvU5.jpg">
                </ion-slide>
            </ion-slides>
            <ion-item color="danger">
                <h2> &nbsp; </h2>
            </ion-item>
        </ion-card>
    </ion-content>