<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card color="graymain">
        <ion-card-header>
            <img src="assets/dbz.jpg">
        </ion-card-header>

        <ion-item color="graymain" lines="full">
            <ion-label>
                <h1> Dragon Ball Z (1989) </h1>
            </ion-label>

            <div slot="end" class="c100 p81 small green">
                <span>81%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>

        </ion-item>

        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>


        <ion-item color="graymain">
            <div class="info ion-text-center">
                <span class="tipo">TV-PG</span> <span class="duracao">26m</span>
                <p> Sci-Fi & Fantasy, Animação, Comédia, Action & Adventure </p>
            </div>
        </ion-item>

        <ion-item color="graymain">
            <div>
                <h2>Sinopse</h2>
                <p>Cinco anos após vencer o Torneio Mundial de Artes Marciais, Goku tem uma vida pacífica com sua esposa e filho. No entanto, isso muda com a chegada de um misterioso inimigo chamado Raditz, que se apresenta como o irmão perdido de Goku e
                    revela que ele é um guerreiro da raça Saiyan, e que originalmente foi enviado à Terra para conquista-la. Com sua tentativa fracassada de recrutar Goku como aliado, Raditz adverte Goku e seus amigos de que uma nova ameaça se aproxima
                    rapidamente da Terra, uma que poderia mergulhar o planeta em um conflito intergaláctico e fazer os próprios céus tremerem. Uma guerra será travada pelas esferas místicas do dragão, de somente os mais fortes sobreviverão.</p>
            </div>
        </ion-item>

    </ion-card>