<ion-header>
    <ion-toolbar color="primary">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-card color="dark">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sJRcxUYDZb7LtV8AID19hxcqvaq.jpg">
        </ion-card-header>

        <ion-item color="dark" lines="full">
            <ion-label>
                <h1> Sonic (2020) </h1>
            </ion-label>

            <div slot="end" class="c100 p75 small green">
                <span>75%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </ion-item>

        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>

        <ion-item color="medium">
            <div class="info ion-text-center">
                <span class="tipo">PG</span> <span class="duracao">1h 39m</span>
                <p> Ação, Ficção Científica, Comédia, Família</p>
            </div>
        </ion-item>

        <ion-item color="dark">
            <div>
                <h2>Sinopse</h2>
                <p>Baseado na franquia global de videogames de sucesso da Sega, Sonic: O Filme conta a história do ouriço mais rápido do mundo enquanto ele abraça sua nova casa na Terra. Nesta comédia de aventura de ação ao vivo, Sonic e seu novo melhor
                    amigo se unem para defender o planeta do gênio do mal Dr. Robotnik e seus planos para dominar o mundo.</p>
            </div>
        </ion-item>

    </ion-card>