<ion-header>
    <ion-toolbar color="primary">
        <ion-title>

        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <ion-card color="dark">
        <ion-card-header>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zd8mxIfGY8SlupYd9XvK3qJL91B.jpg">
        </ion-card-header>

        <ion-item color="dark" lines="full">
            <ion-label>
                <h1>La Casa De Papel</h1>
            </ion-label>

            <div slot="end" class="c100 p84 small green">
                <span>84%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </ion-item>

        <ion-button color="danger" size="large" class="watchF">Assistir</ion-button>

        <ion-item color="medium">
            <div>
                <h2> The Perfect Robbery. </h2>
                <br>
                <p> Criação (2017)</p>
                <h5> Álex Pina </h5>


            </div>
        </ion-item>
    </ion-card>


    <ion-content color="dark">
        <ion-card color="dark">
            <ion-item color="danger">
                <h2> Imagens da Série: </h2>
            </ion-item>
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/xGexTKCJDkl12dTW4YCBDXWb1AD.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/mxFvdWtK26oR7jR8suZKro6GT9U.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/3aXJrJV80gL7UAs9Eky69seJow1.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/4kAcQLBBlLpZijpUhEV6up3cZxn.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/w58GGePpc5xNdumewZZzslcFl2k.jpg">
                </ion-slide>
                <ion-slide>
                    <img src="https://image.tmdb.org/t/p/original/mxdCIxCA6DydRcRUpEXLwZHDWXZ.jpg">
                </ion-slide>
            </ion-slides>
            <ion-item color="danger">
                <h2> &nbsp; </h2>
            </ion-item>
        </ion-card>

    </ion-content>